<%= form_for @person do |f| %>
  <div class="card card-3">
    <div class="card-content">
      <h1>Perfil</h1>
      <div class="row collapse">
        <div class="columns small-5 large-2 text-center">
          <%= image_tag(@person.photo.url(:thumb)) %>
        </div>
      </div>
      <div class="row collapse">
        <div class="columns">
          <%= f.file_field :photo, as: :file %>
        </div>
      </div>

      <div class="row collapse">
        <div class="columns small-5 large-2">
          <%= f.label :first_name, "Primeiro nome", class: "prefix" %>
        </div>
        <div class="columns small-7 large-10">
          <%= f.text_field :first_name %>
        </div>
      </div>

      <div class="row collapse">
        <div class="columns small-5 large-2">
          <%= f.label :middle_names, "Outros nomes", class: "prefix" %>
        </div>
        <div class="columns small-7 large-10">
          <%= f.text_field :middle_names, autocomplete: "off" %>
        </div>
      </div>

      <div class="row collapse">
        <div class="columns small-5 large-2">
          <%= f.label :last_name, "Último nome", class: "prefix" %>
        </div>
        <div class="columns small-7 large-10">
          <%= f.text_field :last_name, autocomplete: "off" %>
        </div>
      </div>

      <div class="row collapse">
        <div class="columns small-5 large-2">
          <%= f.label :birthday, "Data de nascimento", class: "prefix" %>
        </div>
        <div class="columns date-select small-7 large-10">
          <%= f.date_select :birthday, {
            order: [:day, :month, :year],
            with_css_classes: true,
            start_year: 100.years.ago.year,
            end_year: 0.years.ago.year
          } %>
        </div>
      </div>

      <% if params[:controller] == 'people' %>
        <div class="row collapse">
          <div class="columns small-5 large-2">
            <%= f.label :user_id, class: "prefix" %>
          </div>
          <div class="columns small-7 large-10">
            <%= f.collection_select :user_id, User.all, :id, :email, {include_blank: "Nenhum"} %>
          </div>
          <div class="columns small-5 large-2">
            <%= f.label :section_id, "Secção", class: "prefix" %>
          </div>
          <div class="columns small-7 large-10">
            <%= f.collection_select :section_id, Section.all, :id, :name, {include_blank: "Nenhuma"} %>
          </div>
          <div class="columns small-5 large-2">
            <%= f.label :team_id, "Patrulha", class: "prefix" %>
          </div>
          <div class="columns small-7 large-10">
            <%= f.select :team_id, {}, include_blank: 'Nenhuma' %>
          </div>
        </div>
      <% end %>
    </div>

    <% if @person.errors.any? %>
      <div class="row collapse">
        <div class="columns small-12 large-10 large-offset-2">
          <div data-alert class="alert-box alert radius">
            <h2><%= pluralize(@person.errors.count, "erro") %> a gravar o utilizador:</h2>

            <ul>
              <% @person.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
            <a href="#" class="close">&times;</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div id='action-menu' class='button-group expanded'>
    <%= link_to fa_icon('trash 2x'), person_path(@person), class: 'button', active: :exclusive unless @person.new_record? %>
    <%= f.button fa_icon('save 2x'), class: 'button', active: :exclusive %>
  </div>
<% end %>
