<% title 'Pessoas' %>

<%= render 'submenu' %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Nome</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @people.each do |person| %>
      <tr data-url="<%= edit_person_path person %>">
        <td class='image'><%= image_tag person.photo.url %></td>
        <td><%= person.name %></td>
        <td></td>
        <td><%= link_to fa_icon('trash'), person, method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
