<div id="sidebar">
  <svg role="img" title="logo">
    <use xlink:href="<%= image_path 'logo.svg' %>#logo"/>
  </svg>

  <div class="stacked button-group">
    <%= link_to "Ver Site", root_path, class: 'button', data: {turbolinks: false} %>
    <%= active_link_to "Utilizadores", users_path, class: 'button' %>
    <%= active_link_to "Pessoas", people_path, class: 'button' %>
    <%= active_link_to "Artigos", posts_path, class: 'button' %>
    <%= active_link_to "Fotos", photo_albums_path, class: 'button' %>
  </div>
</div>
