<ul class="button-group radius">
	<li><%= link_to 'Loja', shop_path, class: "button small" %></li>
	<% if can? :create, ShopProduct %>
		<li><%= link_to '+ Novo', new_shop_product_path, class: "button small" %></li>
	<% end %>
	<li><%= link_to 'Encomendas', user_shop_orders_path, class: "button small" %></li>
	<% if user_signed_in? %>
		<li><%= link_to cart_menu_string, shopping_cart_path, class: "button small" %></li>
	<% end %>
	<% if can? :manage, ShopOrder %>
		<li><%= link_to 'Pendentes', shop_orders_path, class: "button small" %></li>
	<% end %>
</ul>
