<div class='content'>
	<div class="row">
		<div class="columns medium-3 small-6">
			<h1><%= title "Loja" %></h1>
		</div>
		<div class="columns medium-9 small-6 text-right">
			<ul class="button-group radius">
				<li><%= link_to '+ Novo', new_shop_product_path, class: "button small" %></li>
				<li><%= link_to 'Encomendas', user_shop_orders_path, class: "button small" %></li>
			</ul>
		</div>
	</div>
	<!--
	<div class="row">
		<div class="columns">
			<div class="contain-to-grid">
				<section class="top-bar-section">
					<nav class="top-bar" data-topbar role="navigation">
						<ul class="left">
							<li><%= link_to "Novo", new_shop_product_path %></li>
						</ul>
					</nav>
				</section>
			</div>
		</div>
	</div>
	-->
	<div class="row" data-equalizer>
		<% count = 0 %>
		<% @shop_products.each do |product| %>
			<div class="columns medium-4 large-4 end" data-equalizer-watch>
				<div class="panel">
					<%= image_tag product.photo.url(:medium) %>
					<h2><%= product.name %></h2>
					<p><%= product.description %></p>
					<p><strong><%= product.price_str %></strong></p>
					<ul class="stack button-group">
						<li><%= link_to 'Adicionar', add_product_to_cart_path(product), class: "button expand" %></li>
						<li><%= link_to 'Editar', edit_shop_product_path(product), class: "button info" %></li>
						<li><%= link_to 'Eliminar', product, method: :delete, class: "button alert" %></li>
					</ul>
				</div>
			</div>
			<% count += 1 %>
			<% if count == 3 %>
				<div class="row" data-equalizer>
				</div>
			<% end %>
		<% end %>
	</div>
</div>
