<%= form_for(@adventure) do |f| %>
  <div class="card info card-3">
    <div class="card-content">
      <% if @adventure.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@adventure.errors.count, "error") %> prohibited this adventure from being saved:</h2>

          <ul>
          <% @adventure.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.text_field :name, placeholder: 'Nome' %>
      <%= f.label :start, 'Início' %>
      <div class="date-select">
        <%= f.date_select :start, {
          order: [:day, :month, :year],
          with_css_classes: true
        } %>
      </div>
      <%= f.label :end, 'Fim' %>
      <div class="date-select">
        <%= f.date_select :end, {
          order: [:day, :month, :year],
          with_css_classes: true
        } %>
      </div>
      <%= f.collection_select :photo_album_id, PhotoAlbum.all, :id, :name, {prompt: 'Fotografias'} %><br>
      <%= f.collection_select :post_id, Post.all, :id, :title, {prompt: 'Artigo'} %><br>
      <%= f.collection_check_boxes :person_ids, Person.all, :id, :name, {prompt: 'Participantes'} %><br>
    </div>
    <div class="actions">
      <div class="row collapse">
        <% if @adventure.new_record? or (not can?(:destroy, @adventure)) %>
          <div class="columns">
            <%= f.button fa_icon("save", class: "fa-2x"), class: 'first last' %>
          </div>
        <% else %>
          <div class="columns small-6">
            <%= f.button fa_icon("save", class: "fa-2x"), class: 'first' %>
          </div>
          <div class="columns small-6">
            <%= link_to fa_icon("trash", class: "fa-2x"), @adventure, method: :delete, data: { confirm: 'Tem a certeza?' }, class: "button alert last" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
