<% title "Atividade" %>
<div class="card card-3">
  <div class="card-content">
    <h1>
      <%= @adventure.name %>
    </h1>
    <h3>
      De <%= l @adventure.start, format: :short %>
      a <%= l @adventure.end, format: :short %>,
      <%= @adventure.start.year %>
    </h3>

    <p>
      <strong>Fotografias:</strong>
      <%= link_to @adventure.photo_album.name, @adventure.photo_album %>
      <br>

      <strong>Artigo:</strong>
      <%= link_to @adventure.post.title, @adventure.post %>
      <br>

      <strong>Noites:</strong>
      <%= @adventure.nights %>
    </p>

    <h4>
      Participantes
    </h4>
    <ul>
      <% @adventure.people.each do |person| %>
        <li><%= link_to person.name, person %></li>
      <% end %>
    </ul>
  </div>

  <%= link_to 'Edit', edit_adventure_path(@adventure) %> |
  <%= link_to 'Back', adventures_path %>
</div>

