<% title 'Fotografias' %>

<% if can? :create, PhotoAlbum %>
  <%= render partial: 'pages/page_action', locals: { link: new_photo_album_path, icon: 'plus' } %>
<% end %>

<% content_for :back_link do %>
  <%= root_path %>
<% end %>

<ul class="album-list">
  <% @photo_albums.each do |photo_album| %>
    <li>
      <%= link_to  photo_album do %>
        <%= image_tag(photo_album.cover.file.url(:large)) %>
        <div class="album-title">
          <%= photo_album.name %>
        </div>
        <div class="album-dates">
          <%= photo_album.date %>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>
