<p id="notice"><%= notice %></p>

<h1>Listing Photo Albums</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Start</th>
      <th>End</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photo_albums.each do |photo_album| %>
      <tr>
        <td><%= photo_album.name %></td>
        <td><%= photo_album.start %></td>
        <td><%= photo_album.end %></td>
        <td><%= link_to 'Show', photo_album %></td>
        <td><%= link_to 'Edit', edit_photo_album_path(photo_album) %></td>
        <td><%= link_to 'Destroy', photo_album, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo album', new_photo_album_path %>
