<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @photo_album.name %>
</p>
<p>
  <strong>Start:</strong>
  <%= @photo_album.start %>
</p>
<p>
  <strong>End:</strong>
  <%= @photo_album.end %>
</p>

<div id="lightgallery" class="photo-album">
  <% @photo_album.photos.each do |photo| %>
    <%= link_to image_tag(photo.file.url(:thumb)), photo.file.url %>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#lightgallery").lightGallery();
  });
</script>

