<div class="content">
	<div class="row">
		<div class="columns">
			<h1><%= @year %></h1>
			<h2><%= l(@start.end_of_week, format: "%B") %></h2>
			<div class="calendar">
				<div class="header">Segunda</div>
				<div class="header">Terça</div>
				<div class="header">Quarta</div>
				<div class="header">Quinta</div>
				<div class="header">Sexta</div>
				<div class="header">Sábado</div>
				<div class="header">Domingo</div>

				<% (@start..@finish).each do |day| %>
					<div class="day" style="<%= 'color: grey' if day.month != @month %>">
						<span class="date"><%= day.day %></span>
						<% @events.where(date: day.beginning_of_day..day.end_of_day).each do |event| %>
							<%= link_to event.title, event %>
						<% end %>
					</div>
				<% end %>

			</div>
			<% if can? :create, Event %>
				<%= link_to 'Novo', new_event_path %>
			<% end %>
		</div>
	</div>
</div>
