<div id="content" class="content">
  <div class="row">
    <div class="columns">
      <div class="row">
        <% @posts.each do |post| %>
          <% if post.eql? @posts.first %>
            <div class="columns">
              <div class="card card-2">
                <%= link_to image_tag(post.image.url(:medium), class: 'header medium'), blog_post_path(post) if post.image.exists? %>
                <div class="card-content">
                  <h2><%= link_to post.title, blog_post_path(post) %></h2>
                  <p><%= truncate strip_tags( safe_markdown(post.body) ), length: 100 %></p>
                  <small><%= "#{post.created_at.strftime('%-d/%m/%y')}" %></small>
                </div>
              </div>
            </div>
          <% else %>
            <div class="columns medium-6">
              <div class="card card-2">
                <%= link_to image_tag(post.image.url(:medium), class: 'header small'), blog_post_path(post) if post.image.exists? %>
                <div class="card-content">
                  <h2><%= link_to post.title, blog_post_path(post) %></h2>
                  <p><%= truncate strip_tags( safe_markdown(post.body) ), length: 100 %></p>
                  <small><%= "#{post.created_at.strftime('%-d/%m/%y')}" %></small>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

