<div id="content" class="content">
	<div class="row">
		<div class="columns">
			<h1><%= title "Entrar" %></h1>
		</div>
	</div>
	<div class="row">
		<div class="columns medium-7 large-6">

			<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				<div class="row collapse">
					<div class="columns small-3 large-2">
						<%= f.label :email, class: "prefix" %>
					</div>
					<div class="columns small-9 large-10">
						<%= f.email_field :email, autofocus: true %>
					</div>
				</div>

				<div class="row collapse">
					<div class="columns small-3 large-2">
						<%= f.label :password, class: "prefix" %><br />
					</div>
					<div class="columns small-9 large-10">
						<%= f.password_field :password, autocomplete: "off" %>
					</div>
				</div>

				<% if devise_mapping.rememberable? -%>
				<div class="row collapse">
					<div class="columns small-9 large-10 small-offset-3 large-offset-2">
						<span>Lembrar-me</span>
						<div class="switch right">
							<%= f.check_box :remember_me %>
							<%= f.label :remember_me %>
						</div>
					</div>
				</div>
				<% end -%>

				<div class="row collapse">
					<div class="columns small-9 large-10 small-offset-3 large-offset-2">
						<%= f.submit "Entrar", class: "button expand" %>
					</div>
				</div>
			<% end %>

			<%= render "devise/shared/links" %>
		</div>
		<div class="columns medium-5 large-6 hidei show-for-medium-up">
			<%= image_tag "agrportosalvo.jpg" %>
		</div>
	</div>
</div>
