<div class='content'>
	<div class="row">
		<div class="columns">
			<h1><%= title "Detalhes da encomenda" %></h1>
			<p><strong>Nr:</strong> <%= @shop_order.id %></p>
			<p><strong>Criada:</strong> <%= @shop_order.created_at %></p>
			<p><big><strong>Valor:</strong> <%= decimal_to_euro( cart_total @shop_order.products) %></big></p>
			<p><strong>Comprovativo:</strong><br><%= image_tag @shop_order.proof.url(:medium) %></p>
			<%= form_for @shop_order do |f| %>
				<fieldset>
					<%= f.label :proof, "Enviar comprovativo" %>
					<%= f.file_field :proof, as: :file %>
					<%= f.submit "Enviar", class: "button" %>
				</fieldset>
			<% end %>
		</div>
	</div>
</div>

