<%= form_for @post do |f| %>
  <div class="card-content">
    <div class="row">
      <div class="columns small-6">
        <%= f.file_field :image, as: :file %>
      </div>
      <div class="columns small-6 text-right">
        <div class="row">
          <div class="columns small-10">
            <%= f.label :draft, 'Rascunho' %>
          </div>
          <div class="columns small-2">
            <%= f.check_box :draft, prompt: 'Rascunho' %>
          </div>
        </div>
      </div>
    </div>
    <%= f.label :title, "Título" %>
    <%= f.text_field :title %>
    <%= f.label :body, "Texto" %>
    <%= f.text_area :body, rows: 15 %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, {prompt: 'Categorias'} %><br>
  </div>
  <%= f.submit class: "button first last" %>
<% end %>
