<% @posts.each do |post| %>
  <div class="card card-3">
    <%= link_to image_tag(post.image.url(:medium), class: 'header large'), post if post.image.exists? %>
    <div class="card-content">
      <h2><%= link_to post.title, post %> <small><%= l post.published_at.to_date, format: :short %></small></h2>
      <p><%= truncate strip_tags(safe_markdown post.body), length: 250 %></p>
      <small><%= post.user.name %></small>
    </div>

    <div class="card-action">
      <div class="row collapse">
        <div class="columns small-6">
          <%= link_to "PARTILHAR", "", class: 'button first', id: "fb#{post.id}" %>
          <script>
            $("#fb<%= post.id %>").on("click",function(){
              var fbpopup = window.open("https://www.facebook.com/sharer/sharer.php?u=<%= post_url post %>", "pop", "width=600, height=400, scrollbars=no");
              return false;
            });
          </script>
        </div>

        <div class="columns small-6">
          <%= link_to "VER MAIS", post, class: 'button last' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div id="fb-root"></div>
