<% title "Artigos" %>

<% content_for :submenu do %>
  <%= active_link_to fa_icon('check', text: 'Artigos'), posts_path, class: 'button', active: :exclusive %>
  <%= active_link_to fa_icon('file-text', text: 'Rascunhos'), draft_posts_path, class: 'button', active: :exclusive %>
  <%= active_link_to fa_icon('plus', text: 'Novo'), new_post_path, class: 'button', active: :exclusive %>
<% end %>

<% content_for :back_link do %>
  <%= root_path %>
<% end %>

<% content_for :subtitle do %>
  <%= will_paginate @posts, previous_label: '', next_label: '' %>
<% end %>

<div class="row">
  <div class="columns">
    <table>
      <thead>
      </thead>
      <tbody>
        <% @posts.each do |post| %>
          <tr data-url="<%= edit_post_path post %>">
            <td class='image'><%= image_tag post.image.url %></td>
            <td><div><%= post.title %></div></td>
            <td><div><%= post.author.name %></div></td>
            <td class="text-right"><div><%= post.published_at %></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @posts, page_links: false, previous_label: '', next_label: '' %>
  </div>
</div>
