<% title @post.title %>

<div class="row">
  <div class="columns">
    <div class="card card-3">
      <%= image_tag @post.image.url(:medium), class: 'header' if @post.image.exists? %>
      <div class="card-content">
        <%= safe_markdown(@post.body) %>
        <small><%= "Criado a #{@post.created_at.strftime('%-d/%m/%y')}" %></small>
      </div>
    </div>
    <% if can? :edit, @post %>
      <hr>
      <h3>Editar</h3>
      <%= render 'posts/form' %>
      <%= link_to "Eliminar", @post, class: "button tiny", method: :delete, data: {confirm: "Tem a certeza que pretende eliminar este Post?"} %>
    <% end %>
  </div>
</div>
