<div class='content'>
	<div class="row">
		<div class="columns">
			<h1><%= title @post.title %></h1>
		</div>
	</div>
	<div class="row">
		<div class="columns">
			<%= simple_format @post.body %>
			<small><%= "Criado a #{@post.created_at.strftime('%-d/%m/%y')}" %></small>
			<ul class="button-group radius">
				<li><%= link_to "Editar", edit_post_path(@post), class: "button tiny" %></li>
				<li><%= link_to "Eliminar", @post, class: "button tiny", method: :delete, data: {confirm: "Tem a certeza que pretende eliminar este Post?"} %></li>
			</ul>
		</div>
	</div>
</div>
