<div id="sidebar">
	<div id="menu">
		<ul class="side-nav">
			<li><%= link_to "Home", root_url %></li>
			<li><%= link_to "História", history_url %></li>
			<li><%= link_to "Iª Secção", "#" %></li>
			<li><%= link_to "IIª Secção", "#" %></li>
			<li><%= link_to "IIIª Secção", "#" %></li>
			<li><%= link_to "IVª Secção", "#" %></li>
			<li><%= link_to "Fotografias", "#" %></li>
			<li><%= link_to "Formações", "#" %></li>
			<li><%= link_to "Docs", "#" %></li>
			<li><%= link_to "Contatos", "#" %></li>
		</ul>
	</div>
	<!-- end menu -->
</div>
