<div id="sidebar">
	<div id="menu">
		<ul class="stack button-group">
			<li><%= link_to "Home", root_url, class: "button" %></li>
			<li><%= link_to "História", history_url, class: "button" %></li>
			<li><%= link_to "Iª Secção", "#", class: "button" %></li>
			<li><%= link_to "IIª Secção", "#", class: "button" %></li>
			<li><%= link_to "IIIª Secção", "#", class: "button" %></li>
			<li><%= link_to "IVª Secção", "#", class: "button" %></li>
			<li><%= link_to "Fotografias", "#", class: "button" %></li>
			<li><%= link_to "Formações", "#", class: "button" %></li>
			<li><%= link_to "Docs", "#", class: "button" %></li>
			<li><%= link_to "Contatos", "#", class: "button" %></li>
		</ul>
	</div>
	<!-- end menu -->
</div>
