<div class="top-bar" data-topbar role="navigation">
  <div class="top-bar-title">
    <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
      <button class="menu-icon dark" type="button" data-toggle></button>
    </span>
    <strong>
    <ul class="menu">
      <li>
        <%= link_to "1126 Porto Salvo", root_url %>
      </li>
    </ul>
    </strong>
  </div>

  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown menu" data-dropdown-menu>
        <!--
        <li><%= active_link_to "História", history_url %></li>
        -->
        <li><%= active_link_to "Secções", sections_path %>
          <ul class="menu vertical">
            <% Section.all.where(public: true).each do |section| %>
              <li><%= link_to section.name, section %></li>
            <% end %>
          </ul>
        </li>
        <li>
          <%= active_link_to("Fotografias", photo_albums_path) %>
        </li>
        <li>
          <%= active_link_to("Blog", posts_path) %>
        </li>
        <li>
          <%= active_link_to("Atividades", Adventure) %>
        </li>
        <!--
        <li><%= link_to "Docs", "#" %></li>
        -->
        <!--
        <li><%= link_to "Loja", shop_path %></li>
        -->
        <li>
          <%= active_link_to("Contactos", contactos_path) %>
        </li>
      </ul>
    </div>

    <div class="top-bar-right">
      <ul class="dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
          <li>
            <%= link_to fa_icon("cog"), "#" %>
            <ul class="menu vertical">
              <li><%= link_to current_user.email, current_user %></li>
              <% if can? :manage, :all %>
                  <li><%= link_to 'Utilizadores', admin_users_path %></li>
                  <li><%= link_to 'Pessoas', admin_people_path %></li>
                  <li><%= link_to 'Posts', admin_posts_path %></li>
                  <li><%= link_to 'Livros', books_path %></li>
              <% end %>
              <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Entrar", new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
    </div>

</div>
