<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "1126 Porto Salvo", root_url %></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
		<% if user_signed_in? %>
			<li class="has-dropdown"><%= link_to current_user.email, "#" %>
				<ul class="dropdown">
					<% if can? :create, Post %>
						<li><%= link_to "Criar Artigo", new_post_path %></li>
					<% end %>
					<li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		<% else %>
			<li><%= link_to "Entrar", new_user_session_path %></li>
		<% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
	<!--
		<li><%= link_to "História", history_url %></li>
	-->
		<li class="has-dropdown"><%= link_to "Secções", "#" %>
			<ul class="dropdown">
				<li><%= link_to "Alcateia", alcateia_path %></li>
				<li><%= link_to "Expedição", expedicao_path %></li>
				<li><%= link_to "Comunidade", comunidade_path %></li>
				<li><%= link_to "Clã", cla_path %></li>
			</ul>
		</li>
	<!--
		<li><%= link_to "Fotografias", "#" %></li>
		<li><%= link_to "Formações", "#" %></li>
		<li><%= link_to "Docs", "#" %></li>
	-->
		<li><%= link_to "Loja", shop_path %></li>
		<li><%= link_to "Contactos", contactos_path %></li>
    </ul>
  </section>
</nav>
