<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% keywords 'escutismo, Corpo Nacional de Escutas, CNE, FEP, Porto Salvo' %>
    <%= display_meta_tags site: 'Escuteiros de Porto Salvo' %>

    <%= stylesheet_link_tag    "admin/application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%= render 'layouts/ganalytics' %>
    <% end %>
  </head>

  <body>

    <div id="page" class="r">
      <%= render 'layouts/notice' %>
      <%= render 'admin/sidebar' %>

      <div class='c fg'>
        <%= render 'admin/topbar' %>

        <% if content_for? :submenu %>
          <div class="menu expanded button-group">
            <%= yield :submenu %>
          </div>
        <% end %>

        <div class='scroll fg'>
          <header id="header">
            <% if content_for? :subtitle %>
              <h2><%= yield :subtitle %></h2>
            <% end %>
          </header>

          <div id="page-content">
            <%= yield %>
          </div>
        </div>

      </div>
    </div>

  </body>
</html>


