<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% keywords 'escutismo, Corpo Nacional de Escutas, CNE, FEP, Porto Salvo' %>
    <%= display_meta_tags site: 'Escuteiros de Porto Salvo' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

  <%= render 'layouts/topbar' %>
  <div id="page" class="card-1">
    <% if notice or alert %>
      <div id="notice">
        <% if notice %>
          <div data-alert class="alert-box success radius card-5">
            <p class="notice"><%= notice %></p>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        <% if alert %>
          <div data-alert class="alert-box alert radius card-5">
            <p class="alert"><%= alert %></p>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    <% end %>

    <header id="header" class='card-1'>
      <div class="row">
        <div class="columns">
          <h1>
            <%= link_to fa_icon('arrow-left', class: 'fa-fw'), yield(:back_link) if content_for?(:back_link) %>
            <%= title %>
          </h1>
          <h2><%= yield :subtitle %></h2>
        </div>
      </div>

      <% if @header_image %>
        <style>
          header#header {
            background-image: url( <%= @header_image %> );
          }
        </style>
      <% end %>
    </header>

    <div class="content">
      <div class="row">
        <div class="columns">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>

  <% if Rails.env.production? %>
    <%= render 'layouts/ganalytics' %>
  <% end %>

  </body>
</html>
