<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% keywords 'escutismo, Corpo Nacional de Escutas, CNE, FEP, Porto Salvo' %>
    <%= display_meta_tags site: 'Escuteiros de Porto Salvo' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

	<%= render 'layouts/topbar' %>
	<div id="page">
		<% if notice or alert %>
			<div class="row">
				<p class="notice"><%= notice %></p>
				<p class="alert"><%= alert %></p>
			</div>
		<% end %>
		<%= yield %>
	</div>
	<footer>
		<div style="clear: both;">&nbsp;</div>
		<%= render 'layouts/footer' %>
	</footer>
	<% if Rails.env.production? %>
		<%= render 'layouts/ganalytics' %>
	<% end %>

  </body>
</html>
