<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% keywords 'escutismo, Corpo Nacional de Escutas, CNE, FEP, Porto Salvo' %>
    <%= display_meta_tags site: 'Escuteiros de Porto Salvo' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%= render 'layouts/ganalytics' %>
    <% end %>
  </head>

  <body>

    <div id="page" class="card-1">
      <%= render 'layouts/topbar' %>

      <%= render 'layouts/notice' %>

      <header id="header" class="c content">
        <h1>
          <%= title %>
        </h1>
        <% if content_for? :subtitle %>
          <h2><%= yield :subtitle %></h2>
        <% end %>

        <% if @header_image %>
          <style>
            header#header {
              background-image: url( <%= @header_image %> );
            }
          </style>
        <% end %>
      </header>

      <div class="c">
        <%= yield %>
      </div>
    </div>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>

