<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% keywords 'escutismo, Corpo Nacional de Escutas, CNE, FEP, Porto Salvo' %>
    <%= display_meta_tags site: 'Escuteiros de Porto Salvo' %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <% if Rails.env.production? %>
      <%= render 'layouts/ganalytics' %>
    <% end %>
  </head>

  <body>

  <%= render 'layouts/topbar' %>
  <div id="page" class='card-1'>

    <% if notice or alert %>
      <div id="notice">
        <% if notice %>
          <div data-alert class="alert-box success radius card-5">
            <p class="notice"><%= notice %></p>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
        <% if alert %>
          <div data-alert class="alert-box alert radius card-5">
            <p class="alert"><%= alert %></p>
            <a href="#" class="close">&times;</a>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </div>
  <footer>
    <div style="clear: both;">&nbsp;</div>
    <%= render 'layouts/footer' %>
  </footer>

  </body>
</html>
